{% if (compteur) %}
	<li><a href="#" class="close-panel"><img src="{{ asset('ressources/images/icons/white/message.png') }}" alt="" title="" /><span>Messages</span><strong class="green">{{ compteur }}</strong></a></li>
{% endif %}
