{% extends 'layout.html.twig' %}
{% block title %}Les statistiques zones {% endblock %}
{% block body %}
	<div class="pages">
		<div data-page="projects" class="page no-toolbar no-navbar">
			<div class="page-content">

				<div class="navbarpages">
					<div class="nav_left_logo"><a href="#" data-panel="left" class="open-panel"><img src="{{ absolute_url(asset('ressources/images/logo-02.png')) }}" alt="" title="" /></a></div>
					<div class="nav_right_button">
						<a href="#" data-panel="left" class="open-panel"><img src="{{ absolute_url(asset('ressources/images/icons/white/menu.png')) }}" alt="" title="" /></a>
					</div>
				</div>
				<div id="pages_maincontent">

					<h2 class="page_title">Statistiques </h2>

					<div class="page_content">

						<canvas id="myPieChart" width="100" height="100"></canvas>
						<canvas id="Abobo" width="100" height="100"></canvas>

					</div>

				</div>


			</div>
		</div>
	</div>

{% endblock %}
